.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full screen height */
}

.profile-page {
  flex: 1; /* Takes up remaining space */
  overflow-y: auto; /* Scroll if content overflows */
  padding: 50; /* Optional spacing */
}
